<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CLAP" version="4.6" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="OBeautifulCode.Assertion.Recipes.Must" version="1.0.17" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Bootstrapper.Recipes.Console" version="1.0.43" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Bootstrapper.Recipes.Core" version="1.0.43" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Analyzers" version="1.1.134" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Conventions.ReSharper" version="1.1.134" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Properties.ProjectInfo" version="1.1.133" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.CodeAnalysis.Recipes.SuppressBecause" version="1.0.8" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Collection.Recipes.EnumerableExtensions" version="1.0.46" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Equality.Recipes.EqualityHelpers" version="1.0.22" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Reflection.Recipes.AssemblyHelper" version="1.0.94" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Reflection.Recipes.AssemblyLoader" version="1.0.94" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.String.Recipes.StringExtensions" version="1.0.47" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type" version="1.0.71" targetFramework="net462" />
  <package id="OBeautifulCode.Type.Recipes.TypeExtensions" version="1.0.71" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>