<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OBeautifulCode.Build.Analyzers" version="1.1.23" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Conventions.ReSharper" version="1.1.23" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Collection.Recipes.EnumerableExtensions" version="1.0.30" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Math.Recipes.HashCodeHelper" version="1.0.70" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Reflection.Recipes.TypeHelper" version="1.0.70" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Representation.System.Recipes.TypeExtensions" version="1.0.28" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.String.Recipes.StringExtensions" version="1.0.40" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type" version="1.0.25" targetFramework="net462" />
  <package id="OBeautifulCode.Validation.Recipes.ParameterValidator" version="1.0.27" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>